i.code.icon{
    font-size:2em;
}

.container.segment{
    margin-top:7.0em !important;

}

.topsection{
    margin-top:3.0em;
}

.button{
    margin: 5px auto!important;
}

.label{
    margin:20px auto!important;
}
